   @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* sheared style */

.display-flex{
    display: flex;
}

.primary-btn{
    width: 135px;
    height: 44px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 12px 16px 12px 16px;
    border-radius: 10000px;
    border: none;
    color: white;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
}
.text-light{
    color: rgba(255, 255, 255, 0.694);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
}
hr{
    border: none;
    background-color: rgb(79, 78, 81);
}
.hero-hr{
    border: none;        
    height: 1px; 
    background-color: rgb(79, 78, 81);
    margin:60px auto;
    max-width: 1200px;
}

/* header style */

.navbar{
    max-width: 1600px;
    margin: 0 auto;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    background: rgba(26, 11, 46, 1);
}
.nav-link{
    list-style: none;
    gap: 32px;
    
}
.nav-links{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
.header-button{
    margin-right: 200px;
}
.header-title{
    color: white;
    margin-left: 200px;
    width: 219px;
    height: 32px;
} 
.hamburger-menu{
    display: none;
}

/* hero */
.hero-parent{
    max-width: 1600px;
    height: 646px;
    margin: 0 auto;
    background: rgba(26, 11, 46, 1);
}
.hero-content{
    margin: 0 auto;
}
.hero-title{
    text-align: center;
    color: white;
    margin-bottom: 16px;
    font-family: Inter;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    /* line-height: 58px; */
    letter-spacing: 0%;
}
.hero-description{
    text-align: center;
}
.hero-last-description{
    margin-top: 40px;
}
.hero-number{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.hero-card{
    /* width: 240px; */
    height: 95px;
}
.number{
    color:  rgba(0, 255, 136, 1);
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 16px;
}

/* responsive */
@media screen and (max-width:576px) {
    .navbar{
        margin: 0;
    }
    .navbar-container{
        margin: 0;
    }
    .nav-link{
        display: none;
    }
       .hamburger-menu{
        display: block;
    }
    .header-button, .hero-description br{
        display: none;
    }
    .header-title{
        margin-left: 0;
    }

    /* hero */
    .hero-number{
        grid-template-columns: repeat(2,1fr);
    }
    
    .hero-title{
        font-size: 32px;
        padding-top: 40px;
    }
    .hero-hr{
        margin: 40px 20px;
    }
    .hero-description,.hero-last-description{
        margin: 20px;
    }
     

}
